.channel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 6px 9px;
  border-radius: 5px;
  margin: 2px 0;
  color: #72767d;
  transition: all 200ms;
}

.channel:hover {
  background-color: #34373c;
}

.channel:hover .name {
  color: #ccc;
}

.channel:hover .add-icon {
  opacity: 1;
}

.active {
  background-color: #393c43 !important;
}

.active .name {
  color: #ddd !important;
}

.channel .name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 120%;
}

.channel .name-container .logo {
  width: 15px;
  display: block;
  margin: 0 auto;
  font-size: 13.5pt;
  margin-right: 10px;
}

.add-icon {
  font-size: 9pt;
  color: #aaa;
  opacity: 0;
  transition: all 300ms;
}

.active .add-icon {
  opacity: 1;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
