<div class="container">
  <div class="auth-container">
    <div class="form-container">
      <div class="form-title-container">
        <h1>Create an account</h1>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
          <div class="form-group" id="form-email">
            <label for="email"
              >Email<span id="form-email-error" class="hide"></span>
            </label>
            <input
              type="email"
              id="email"
              formControlName="email"
              autocomplete="off"
              required
            />
          </div>
          <div class="form-group" id="form-username">
            <label for="username"
              >Username<span id="form-username-error" class="hide"></span>
            </label>
            <input
              type="username"
              id="username"
              formControlName="username"
              autocomplete="off"
              required
            />
          </div>
          <div class="form-group" id="form-password">
            <label for="password"
              >Password <span id="form-password-error" class="hide"></span
            ></label>
            <input
              type="password"
              id="password"
              formControlName="password"
              required
            />
          </div>
        </div>
        <button class="form-button">
          <span class="register-text">Continue</span>
          <div class="loading-dots hide">
            <div class="loading-dots--dot"></div>
            <div class="loading-dots--dot"></div>
            <div class="loading-dots--dot"></div>
          </div>
        </button>
        <a [routerLink]="['/login']" class="alternative">
          Already have an account?
        </a>
        <span class="terms-text"
          >By registering, you agree to Discord's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</span
        >
      </form>
    </div>
  </div>
</div>
