.container {
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
}

.container a img {
  width: 100%;
  border-radius: 50%;
  transition: border-radius 200ms;
}

.container a:hover img {
  border-radius: 30%;
}


* {
  user-select: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}
